# Visual Studio
.vs/
week1/.vs/
week1/ARM64/
week1/Debug/
week1/Week1/
week1/pakages/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
x64/
x86/
*.exe
*.dll
*.pdb
*.obj
*.log
*.tlog
*.vcxproj.user
*.lib

# Temporary files
*.tmp
*.bak
*.old

# DirectX shader cache
*.vsh
*.psh

# NuGet packages
packages/
*.nupkg
project.lock.json

